<article class="booking__card">

    <img class="booking__icon" [src]=" booking.images.length > 0 ? 'https://fzjqlxogwhycbjgrxtlo.supabase.co/storage/v1/object/public/trekangle-files/' + booking.images[0] : 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg' " alt="experience icon">

    <div class="booking-container">
        <p class="booking__title">{{ booking.name }}</p>
        <p class="booking__price">{{ booking.price | currency }}</p>
        <p class="booking__place">{{ booking.place }}</p>
        <p class="booking__date"> <span>Date: </span> check your email</p>
    </div>

</article>
