.main2 {
  max-width: 1500px;
  margin: 2rem auto;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  row-gap: 2rem;
}

.main__experience-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  background-color: #ddd7d7e1;
  border: 5px solid #000;
  padding: 1rem;
  border-radius: 20px;
  padding-bottom: 1rem;
}

/* ===================================================================================================
  Left Side
=================================================================================================== */

.main__experience-cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.experience-cart__main-title {
  font-size: clamp(1.4rem, 6vw, 1.5rem);
  font-family: var(--arvo-subtitle-font);
  font-weight: 600;
  margin: 0.8rem 0;
}

/* ===================================================================================================
  Booking Article
=================================================================================================== */

.booking__card {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  border: 3px solid #000;
  background-color: rgba(170, 169, 169, 0.486);
  border-radius: 10px;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.booking__main-title {
  font-size: clamp(1.4rem, 6vw, 1.5rem);
  font-family: var(--arvo-subtitle-font);
  font-weight: 600;
  margin: 0.8rem 0;
  overflow: hidden;
}

.booking__icon {
  display: none;
  max-width: 4rem;
}

.booking__title,
.booking__price,
.booking__date,
.booking__place {
  font-size: clamp(1rem, 3vw, 1.3rem);
  font-family: var(--source3-text-font);
  font-weight: 600;
  overflow: hidden;
}

.booking__date span {
  font-weight: bolder;
}

.booking-container {
  display: flex;
  flex-direction: column;
}

.booking-container {
  row-gap: 0.2rem;
}

.booking__title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: .5rem;
}

.booking__icon {
  border-radius: 10px;
  width: 100%;
}

.booking__delete {
  position: absolute;
  width: clamp(1.7rem, 8vw, 2.2rem);
  cursor: pointer;
  bottom: 10%;
  right: 5%;
}

/* ===================================================================================================
    Payment Info
=================================================================================================== */

.main__payment-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd7d7e1;
  border: 5px solid #000;
  border-radius: 20px;
  padding: 0.5rem;
}

.payment-container {
  margin-top: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.credit-card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}

.credit-card__image {
  max-width: 100%;
}

.credit-card__name,
.credit-card__number,
.credit-card__date {
  font-family: "Courier New", monospace;
  position: absolute;
  color: white;
  font-size: clamp(0.4rem, 1.8vw, 1.1rem);
}

.credit-card__number {
  bottom: 35%;
  left: 10%;
  font-family: arial, sans-serif
}

.credit-card__number span {
  padding: 0 .3rem;
}

.credit-card__name {
  bottom: 15%;
  left: 10%;
}

.credit-card__date {
  bottom: 15%;
  left: 50%;
}

.credit-card__logo {
  position: absolute;
  top: 1rem;
  right: 0.2rem;
  width: 45%;
}

/* ===================================================================================================
    payment form
=================================================================================================== */

.payment-form {
  border-radius: 10px;
  padding: 1rem;
}

.payment-form__label {
  font-family: var(--arvo-subtitle-font);
  font-weight: 600;
}

.payment-form__input {
  background-color: #fff;
  border: 1px solid #000;
  margin: 0.8rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  font-family: var(--source3-text-font);
  width: 95%;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.payment-form__button {
  padding: 0.8rem;
  background-color: var(--main-green);
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin-top: 1rem;
  color: white;
}

@media (min-width: 768px) {
    
  .main__experience-cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .3rem;
  }

  /* Credit card image ========================== */

  .credit-card__name,
  .credit-card__number,
  .credit-card__date {
    font-size: clamp(0.6rem, 4vw, 1.1rem);
  }

  .credit-card__number {
    font-size: clamp(0.6rem, 8vw, 1.5rem);
  }

  /* Payment Form =============================== */

  .payment-form__input {
    max-width: 97%;
  }

  /* Booking article ========================== */

  .booking__icon {
    max-width: 9rem;
  }

  .booking-container {
    row-gap: 0.5rem;
  }
}

@media (min-width: 1024px) {

  .main2 {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .main__experience-cart {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .credit-card__container {
    width: 80%;
    margin: 0;
  }

  /* Booking Date ========================== */

  .booking-date__container {
    margin: 0;
    width: 100%;
  }

  /* Payment form =================== */

  .main__payment-info {
    padding-top: 1.2rem;
  }

  .payment-form {
    width: 94%;
  }

  .payment-form__input {
    width: 100%;
  }

  .payment-form__button {
    width: 95.5%;
  }

  .booking__icon {
    display: inline;
  }
}
