<app-header />

<main class="main2">

    <div class="main__experience-info">
        <h2 class="experience-cart__main-title">Your Experiences:</h2>
        <section class="main__experience-cart">
            
            <article class="booking__card">

                <img class="booking__icon" src="assets/img/bg-card.jpg" alt="experience icon">
            
                <div class="booking-container">
                    <p class="booking__title">EXPERIENCE 1</p>
                    <p class="booking__price">$750,000</p>
                    <p class="booking__place">Melgar, Cololombia</p>
                    <p class="booking__date"> <span>Date: </span> 10 / 20</p>
                </div>
            
            </article>

        </section>
    </div>

    <section class="main__payment-info">

        <div class="credit-card__container">
            <img src="../../../assets/img/credit_card.svg" alt="credit card" class="credit-card__image">
            <img src="../../../assets/img/Logo_completo_BIT_project__horizontal.svg" alt="Logo"class="credit-card__logo">
            <p class="credit-card__number">
                <span>
                    {{ paymentForm.get('cardNumber')?.value?.toString()?.substring(0, 4) }}
                </span>
                <span>
                    {{ paymentForm.get('cardNumber')?.value?.toString()?.substring(4, 8) }}
                </span>
                <span>
                    {{ paymentForm.get('cardNumber')?.value?.toString()?.substring(8, 12) }}
                </span>
                <span>
                    {{ paymentForm.get('cardNumber')?.value?.toString()?.substring(12, 16) }}
                </span>
            </p>
            <p class="credit-card__name">{{ paymentForm.get('cardHolderName')?.value?.toUpperCase() }}</p>
            <p class="credit-card__date">{{ paymentForm.get('expiryDate')?.value }}</p>
        </div>
        <form class="payment-form" method="post" ngSubmit="onSubmit()" [formGroup]="paymentForm">
            <div class="payment-form__field">
                <label for="card-number" class="payment-form__label">Card Number:</label>
                <input type="number" id="card-number" name="card-number" class="payment-form__input" required
                    formControlName="cardNumber">
            </div>

            <div class="payment-form__field">
                <label for="card-holder-name" class="payment-form__label">Cardholder Name:</label>
                <input type="text" id="card-holder-name" name="card-holder-name" class="payment-form__input" required
                    formControlName="cardHolderName">
            </div>

            <div class="payment-form__field">
                <label for="expiry-date" class="payment-form__label">Expiry Date:</label>
                <input type="month" id="expiry-date" name="expiry-date" class="payment-form__input" placeholder="MM / YY"
                    required formControlName="expiryDate">
            </div>

            <div class="payment-form__field">
                <label for="cvv" class="payment-form__label">CVV:</label>
                <input type="password" id="cvv" name="cvv" class="payment-form__input" placeholder="* * *" required
                    formControlName="cvv">
            </div>

            <button type="submit" class="payment-form__button">CHECKOUT</button>
        </form>
    </section>
</main>

<app-footer />