<header class="header">
    <nav class="navbar">

        <div class="navbar__left">
            <img [routerLink]="'/'" class="navbar__logo" src="assets/img/Logo_completo_BIT_project__horizontal.svg"
                alt="Main Logo">
        </div>
        <div class="navbar-buttons__mobile">
            <img class="navbar-buttons__logo" src="assets\img\Menu.svg" alt="Menu logo" (click)="toggleNavbar()">
        </div>

        <div class="navbar-buttons__desktop">
            <div class="navbar-buttons__left" [ngClass]="isloggedIn() ? 'add-lines' : ''">
                <a class="left__links" [routerLink]="'/locations'">Locations</a>
                <a class="left__links" [routerLink]="'/about-us'">About Us</a>
            </div>

            <div class="navbar-buttons__right">
                @if(isloggedIn()){
                <a (click)="toggleCart()" class="right__cart"><img src="assets\img\Shopping Cart.svg" alt="Cart logo"></a>
                }
                <div class="right__button" (click)="openDropdown()">
                    <div class="right__button__menu">
                        <img src="assets\img\Menu_black.svg" alt="Menu logo">
                    </div>
                    <div class="right__button__user">
                        <img *ngIf="!isloggedIn() || !user().profileImage" src="assets\img\MaleUser.svg" alt="User logo">
                        <img class="active-image" *ngIf="isloggedIn() && user().profileImage" [src]="'https://fzjqlxogwhycbjgrxtlo.supabase.co/storage/v1/object/public/trekangle-files/' + user()?.profileImage" alt="User Logo">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="dropdown()" class="user-dropdown">
            <div [routerLink]="'/login'" *ngIf="!isloggedIn()" class="user-dropdown__item"
                [ngClass]="!isloggedIn() ? 'user-dropdown__item--first' : ''">
                <a>Log In</a>
            </div>
            <div [routerLink]="'/sign-up'" *ngIf="!isloggedIn()" class="user-dropdown__item"
                [ngClass]="!isloggedIn() ? 'user-dropdown__item--last' : ''">
                <a>Sign Up</a>
            </div>
            <div [routerLink]="'/user-settings'" *ngIf="isloggedIn()" class="user-dropdown__item"
                [ngClass]="isloggedIn() ? 'user-dropdown__item--first' : ''">
                <a>Account</a>
            </div>
            <div [routerLink]="'/'" (click)="logOut()" (click)="toggleNotification()" *ngIf="isloggedIn()" class="user-dropdown__item"
                [ngClass]="isloggedIn() ? 'user-dropdown__item--last' : ''">
                <a>Sign Out</a>
            </div>
        </div>

    </nav>

    <nav class="mobile-navbar" [ngClass]="showNavbar() ? 'mobile-navbar show' : 'mobile-navbar'">
        <div class="mobile-navbar__header">
            <img class="mobile-navbar__header-logo" src="assets/img/Logo_completo_BIT_project__horizontal.svg" alt="Main Logo"/>
        </div>
        <img src="assets/img/close.svg" class="mobile-navbar__close" (click)="toggleNavbar()" alt="Close Icon"/>
        <section class="mobile-navbar__links">
            <div [routerLink]="'/locations'" class="mobile-navbar__item">
                <a>Locations</a>
            </div>
            <div [routerLink]="'/about-us'" class="mobile-navbar__item">
                <a>About Us</a>
            </div>
            <div [routerLink]="'/login'" *ngIf="!isloggedIn()" class="mobile-navbar__item">
                <a>Log In</a>
            </div>
            <div [routerLink]="'/sign-up'" *ngIf="!isloggedIn()" class="mobile-navbar__item"
                [ngClass]="!isloggedIn() ? 'mobile-navbar__item--last' : ''">
                <a>Sign Up</a>
            </div>
            <div (click)="toggleCart()" (click)="toggleNavbar()" *ngIf="isloggedIn()" class="mobile-navbar__item">
                <a>Your Cart</a>
            </div>
            <div [routerLink]="'/user-settings'" *ngIf="isloggedIn()" class="mobile-navbar__item">
                <a>Account</a>
            </div>
            <div [routerLink]="'/'" (click)="toggleNavbar()" (click)="logOut()" (click)="toggleNotification()" *ngIf="isloggedIn()" class="mobile-navbar__item"
                [ngClass]="isloggedIn() ? 'mobile-navbar__item--last' : ''">
                <a>Sign Out</a>
            </div>
        </section>
    </nav>

</header>

<aside class="cart" [ngClass]="showCart() ? 'cart show' : 'cart' ">
    <div class="cart-header">
        <h2 class="cart-header-title">Your Cart</h2>
    </div>
    <img src="assets/img/close.svg" class="cart__close" (click)="toggleCart()" alt="Close Icon"/>
    <section class="cart__experiences">
        <ng-container *ngFor="let cartExperience of experiences$ | async; trackBy: trackByFn">
          <app-cart-experience [experience]="cartExperience"></app-cart-experience>
        </ng-container>
        <div [routerLink]="'/locations'" class="cart__add-experience-button">
          <p><span> ➕ </span> Add Experiences</p>
        </div>
      </section>
    <div class="cart__details">
        <h3 class="cart__total">Total: <span>{{ total$ | async | currency }}</span></h3>
        <a routerLink="/checkout" class="cart__checkout-button">Checkout</a>
    </div>
</aside>