<header class="header">
    <nav class="navbar">

        <div class="navbar__left">
            <img [routerLink]="'/'" class="navbar__logo" src="assets/img/Logo_completo_BIT_project__horizontal.svg" alt="Main Logo">
        </div>
        <div class="navbar-buttons__mobile">
            <img class="navbar-buttons__logo" src="assets\img\Menu.svg" alt="Menu logo">
        </div>

        <div class="navbar-buttons__desktop">
            <div class="navbar-buttons__left">
                <a class="left__links" href="#">Locations</a>
                <a class="left__links" href="#">About Us</a>
            </div>

            <div class="navbar-buttons__right">
                <a class="right__cart" href=""><img src="assets\img\Shopping Cart.svg" alt="Cart logo"></a>
                <div class="right__button">
                    <div class="right__button__menu">
                        <img src="assets\img\Menu_black.svg" alt="Menu logo">
                    </div>
                    <div class="right__button__user">
                        <img src="assets\img\MaleUser.svg" alt="User logo">
                    </div>
                </div>
            </div>
        </div>


    </nav>
</header>
