*:not(app-header) {
  box-sizing: border-box;
}

.name {
  display: none;
}

.main {
  margin-top: 6.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.title-bar {
  font-family: var(--mochiy-title-font);
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  margin-bottom: 2rem;
  text-align: center;
}

.images {
  order: 2;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 0.5rem;
  margin-bottom: 3rem;
}

.images img {
  border: 2px solid black;
}

.details {
  margin-bottom: 2rem;
}

.detail__container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.detail__container img {
  width: 7%;
  min-width: 2rem;
}

.detail__container p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: var(--arvo-subtitle-font);
}

.detail__container input {
  font-family: var(--arvo-subtitle-font);
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  background-color: rgb(215, 210, 202);
  padding: 0.4rem 0.8rem;
  border-radius: 7px;
  border: 1px solid black;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buy-now,
.add-to-cart {
  background-color: var(--main-green);
  padding: 0.6rem 1.2rem;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--arvo-subtitle-font);
  color: white;
  transition: all 0.3s ease;
  margin-top: 0.7rem;
}

.buy-now:hover,
.add-to-cart:hover {
  background-color: rgb(51, 119, 51);
}

.description {
  margin-bottom: 2rem;
  font-family: var(--arvo-subtitle-font);
}

/* ===================================================================================================
  RESPONSIVE
=================================================================================================== */

@media (min-width: 1024px) {

  .main {
    margin: 0 auto;
    margin-top: 6.5rem;
    max-width: 1750px;
    width: 100%;
    padding: 0 1rem;
  }

  .title-bar {
    text-align: start;
    margin-bottom: 0;
  }

  .images {
    order: 1;
    margin: 0;
    width: 100%;
    display: grid;
    max-width: 1700px;
    max-height: 27rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "main-image main-image image-2 image-3"
      "main-image main-image image-4 image-4";
    gap: 1rem;
    border-bottom: 3px solid black;
    margin-bottom: 0;
  }

  .images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 3px solid black;
  }

  .images img:first-child {
    grid-area: main-image;
    object-fit: unset;
  }

  .images img:nth-child(2) {
    grid-area: image-2;
  }

  .images img:nth-child(3) {
    grid-area: image-3;
  }

  .images img:nth-child(4) {
    grid-area: image-4;
  }

  .content {
    order: 2;
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 0.99fr 1fr;
  }

  .description {
    display: flex;
    flex-direction: column;
    border-right: 1.5px solid black;
    padding-top: 1.5rem;
    padding-right: 1.2rem;
    margin-bottom: 0;
  }

  .name {
    display: inline;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    margin-bottom: 1.5rem;
  }

  .details,
  .description {
    margin-bottom: 2rem;
  }

  .details {
    padding: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 3.5rem;
    border-left: 1.5px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .detail__container {
    margin-bottom: 0;
  }

  .button-container {
    margin-top: 0rem;
  }
}
