.container {
    padding: 30px;
    margin-top: 6.5rem;
}
.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.main-image {
    width: 30%;
    height: 30%;
    height: auto;
    background-color: #ccc;
    border-radius: 30px;
}
.thumbnail {
    width: 20%;
    height: 30%;
    /*height: auto;*/
    background-color: #ccc;
    border-radius: 30px;
}
.title-bar { 
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    /*background-color: #f0f0f0;*/
    border-radius: 10px;
}
.description {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.13);
    padding:30px;
    text-align: center;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center
}
.button-container button {
    padding: 10px 20px;
    background-color: #5a9656;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button-container .buy-now {
    padding: 10px 30px;
    background-color: #5a9656;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 30px; /* Ovalado */
    background-color: #5a9656; /* Verde */
}
.button-container .buy-now:hover {
    background-color: #4e8549;
}
.button-container button:hover {
    background-color: #4e8549;
}
.comments-section {
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid #000;
}
.comments-section input[type="text"] {
    width: calc(100% - 50px);
    padding: 10px;
    margin-left: 10px;
}
.comments-section input[type="submit"] {
    padding: 10px;
    background-color: #5a9656;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
}
.comments-section input[type="submit"]:hover{
    background-color: #4e8549; 
}
.comment-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
}

/* Responsive styles */
@media (max-width: 768px) {
    .header, .footer {
        flex-direction: column;
        text-align: center;
    }
    .menu {
        margin-top: 10px;
    }
    .image-row {
        flex-wrap: wrap;
    }
    .image-row img {
        width: 48%;
        margin-bottom: 10px;
    }
    .comments-section input[type="text"] {
        width: 100%;
        margin: 10px 0;
    }
    .description {
        width: 70%; /* Ajustar el tamaño para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .image-row img {
        width: 100%;
        height: auto;
    }
    .menu a {
        margin-left: 10px;
    }
    .comments-section {
        padding: 10px 0;
    }
    .comments-section input[type="text"] {
        margin-left: 0;
    }
    .description {
        width: 90%; /* Ajustar el tamaño para pantallas aún más pequeñas */
    }
}