<article class="cart__card">

    <img class="cart__icon" [src]=" experience.images.length > 0 ? 'https://squctahczjhynshgqbyv.supabase.co/storage/v1/object/public/trekangle-files/' + experience.images[0] : 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg' " alt="experience icon">

    <div class="cart-container">
        <p class="cart__title">{{ experience.name }}</p>
        <p class="cart__price">{{ experience.price | currency }}</p>
        <p class="cart__place">{{ experience.place }}</p>
        <form action="" class="cart__action-container">
                <button (click)="decrement(experience._id)" type="button" class="cart__action">-</button>
                <input type="number" id="quantity" value="" name="quantity" class="cart__quantity-input"
                [formControl]="guestsQuantity">
                <button (click)="increment(experience._id)" type="button" class="cart__action cart__action--add">+</button>

                <img  (click)="deleteExperience(experience._id)" src="assets/img/delete.svg" alt="delete icon" class="cart__delete">
        </form>
    </div>

</article>