.cart__card {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  border: 3px solid #000;
  background-color: var(--white-bg);
  border-radius: 10px;
  margin: 0.5rem 1rem;
}

.cart__icon {
  min-width: 10%;
  max-width: 4rem;
  object-fit: cover;
}

.cart__title,
.cart__price,
.cart__date,
.cart__place {
  font-size: clamp(.8rem, 2vw, 1.3rem);
  font-family: var(--source3-text-font);
  font-weight: 600;
  overflow: hidden;
}

.cart__date span {
  font-weight: bolder;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-container {
  row-gap: 0.2rem;
}

.cart__title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart__icon {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  border: 2px solid #000;
}

.cart__delete {
  position: absolute;
  width: clamp(1.5rem, 8vw, 2.2rem);
  cursor: pointer;
  bottom: 10%;
  right: 5%;
}

.cart__action-container {
  display: flex;
  max-width: 40%;
}

.cart__action {
  background-color: #000;
  color: white;
  padding: 0.4rem;
  cursor: pointer;
}

.cart__action:first-child {
  border-start-start-radius: 8px;
  border-end-start-radius: 8px;
}

.cart__action--add {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cart__quantity-input {
  width: 100%;
  min-width: 1rem;
  background-color: var(--white-bg);
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media (min-width: 768px) {
  .cart__icon {
    max-width: 9rem;
  }

  .cart-container {
    row-gap: 0.5rem;
  }
}
