<app-header />

<main class="main">

    <form class="search-bar-container">
        <input type="text" autocomplete="off" [formControl]="searchQuery" name="searchQuery"
            class="search-bar-container__input" placeholder="Search...">
        <img class="search-bar-container__search" src="assets/img/Search.svg" alt="Search icon">
        <div *ngIf="filteredExperiences().length && searchQuery.value" class="search-bar-container__results">
            <p>Search Results for "{{ searchQuery.value }}"</p>
            <ul>
                @for (experience of filteredExperiences(); track experience._id) {
                <div [routerLink]="['/experience', experience._id]">
                    <li>{{ experience.name }} · <span> {{ experience.place }}</span></li>
                    <img src="assets/img/right-arrow.svg" alt="right arrow">
                </div>
                }
            </ul>
        </div>
    </form>

    <section class="main-area">
        <div class="locations__container">
            <section class="locations-list">

                @for (experience of experiences(); track experiences()._id) {
                <a [routerLink]="['/experience', experience._id]">
                    <article class="booking__card">

                        <img class="booking__icon" [src]=" experience.images ? 'https://fzjqlxogwhycbjgrxtlo.supabase.co/storage/v1/object/public/trekangle-files/' + experience.images[0] : 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg' "
                            alt="experience icon">

                        <div class="booking-container">
                            <p class="booking__title">{{ experience.name }}</p>
                            <p class="booking__price">{{ experience.price | currency }}</p>
                            <p class="booking__place">{{ experience.place }}</p>
                            <p class="booking__date"> <span>Rate: </span> 5.0</p>
                        </div>

                    </article>
                </a>
                }

            </section>
        </div>

        <section class="map-container">
            <app-map></app-map>
        </section>
    </section>

</main>

<app-footer />