/* General Components styles ========================================================================================*/

.main__gallery,
.gallery-title,
.main__top-experiences {
  display: none;
}

/* Progress-bar =====================================================================================================*/

.progress__wrapper {
  position: fixed;
  top: 4rem;
  z-index: 2;
  width: 100%;
  height: 0.65rem;
  background-color: rgba(255, 255, 255, 0);
}

.progress__bar {
  display: block;
  width: 0;
  height: inherit;
  background-color: #4d4c4c;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}

/* Search-Bar Section  ===========================================================================================================*/

.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  border-radius: 20px;
  border: solid 3px black;
  max-width: 80%;
  padding: 0.4rem;
  background-color: white;
}

.search-bar-container__input {
  width: 90%;
  padding: 0 0.8rem;
}

.search-bar-container__search {
  width: 10%;
  cursor: pointer;
}

/* Main Section ============================================================================================================== */

.main {
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.main-area {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-area__text {
  font-family: var(--aclonica-title-font);
  font-weight: 700;
  padding: 2rem 0.5rem;
  text-align: center;
}

.main-area__title {
  font-size: 1.5rem;
}

.main-area__highlight {
  font-size: 2rem;
  line-height: 1.5;
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
  transition: all ease 0.3s;
}

.main-area__highlight:hover {
  -webkit-text-stroke: 1px black;
  color: rgb(167, 149, 10);
}

.main-area__quote {
  font-size: 1rem;
  font-family: var(--source3-text-font);
  font-weight: 400;
}

.main-area__buttons {
  margin-top: 2rem;
}

.button {
  padding: 0.5rem 1.2rem;
  border: 3px solid #000;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  margin-bottom: 0.6rem;
  width: 80%;
  text-align: center;
}

.button--primary {
  background-color: #4caf50;
  color: #fff;
}

.button--outline {
  background-color: #fff;
  color: #000;
}

.main__top-products-title,
.main__products-title {
  font-family: var(--arvo-subtitle-font);
  text-transform: capitalize;
  text-align: center;
  margin: 1rem auto;
  margin-top: 3rem;
  width: 100%;
  font-size: clamp(1.5rem, 5vw, 2.2rem);
  font-weight: 700;
}

/* Experiences =============================================================================== */

.mobile-experiences__list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  row-gap: 1rem;
}

.experiences__list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  row-gap: 1rem;
}

.experiences__button {
  max-width: 1200px;
  width: 50%;
  margin: 5rem auto;
  margin-top: -3rem;
  font-size: clamp(.8rem, 5vw, 1.3rem);
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-family: var(--arvo-subtitle-font);
  font-weight: 600;
}

.experiences__button:hover {
  background-color: rgba(0, 0, 0, 0.818);
  box-shadow: 0 4px 6px rgb(0, 0, 0);
}

/* ===================================================================================================
  Responsive
=================================================================================================== */

@media (min-width: 768px) {
  /* Main-area ======================================== */

  .main-area__text {
    width: 80%;
  }

  .main-area__image--mobile {
    display: none;
  }

  /* Experience List ==================================*/

  .mobile-experiences__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .experiences__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: 1rem;
    row-gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .mobile-experiences__list {
    display: none;
  }

  /* Responsive Search bar ========================== */

  .search-bar-container {
    max-height: 1.5rem;
    width: 50%;
  }

  .main-area {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .main-area__text {
    width: initial;
  }

  .main-area__title {
    font-size: 2.5rem;
    padding: 0 2rem;
  }

  .main-area__highlight {
    font-size: 3rem;
  }

  .main-area__quote {
    font-size: 1.4rem;
  }

  .main-area__buttons {
    display: flex;
    column-gap: 1.5rem;
  }

  .button {
    padding: 0.7rem;
    font-size: 1rem;
  }

  .main-area__image {
    position: relative;
    display: inline-block;
    aspect-ratio: 4 / 3;
  }

  .main-area__image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #feeceb);
    mask-image: linear-gradient(to right, black, #feeceb);
  }

  .main-area__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #feeceb);
    mask-image: linear-gradient(to left, black, #feeceb);
  }

  .main-area__image--mobile {
    display: block;
  }

  /* Carousel top experiences ========================== */

  .gallery-title {
    display: inline;
    margin-top: 0rem;
  }

  .main__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 1px;
    font-family: "DM Sans", sans-serif;
    transition: background 0.4s ease-in;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .main__gallery__card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .main__gallery__container {
    width: 68%;
    max-width: 1200px;
    height: 25rem;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .main__gallery__cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .main__gallery__card__image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: solid 3px black;
  }

  #item-1:checked ~ .main__gallery__cards #experience-1,
  #item-2:checked ~ .main__gallery__cards #experience-2,
  #item-3:checked ~ .main__gallery__cards #experience-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }

  #item-1:checked ~ .main__gallery__cards #experience-2,
  #item-2:checked ~ .main__gallery__cards #experience-3,
  #item-3:checked ~ .main__gallery__cards #experience-1 {
    transform: translateX(50%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }

  #item-1:checked ~ .main__gallery__cards #experience-3,
  #item-2:checked ~ .main__gallery__cards #experience-1,
  #item-3:checked ~ .main__gallery__cards #experience-2 {
    transform: translateX(-50%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }

  .image-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.646);
    color: black;
    font-family: var(--aclonica-title-font);
    font-weight: 600;
    padding: 1rem 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    text-align: center;
  }

  .main__gallery__card:hover .image-info {
    opacity: 1;
  }

  .main__gallery__card a.link-disabled {
    pointer-events: none;
    cursor: default;
  }

  /* Experiences Section ================================= */

  .experiences__list {
    margin: 5rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }

  /* Top Experiences ================================= */

  .main__top-experiences {
    display: flex;
    justify-content: center;
  }

  .top-experiences__container {
    width: 100%;
    width: 1500px;
    height: 20rem;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
    margin: 2rem;
    margin-bottom: 1rem;
  }

  .top-experiences__card {
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    border: solid 3px black;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    --transition-timing: 0.35s;
  }

  .top-experiences__card:hover {
    flex-grow: 2.65;
  }

  .top-experiences__card > .top-experiences__background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    transition: var(--transition-timing) ease;
  }
  .top-experiences__card:hover > .top-experiences__background {
    filter: brightness(1);
  }

  .top-experiences__card > .top-experiences__card-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow: hidden;
    transition: var(--transition-timing);
    z-index: 10;
  }

  .top-experiences__card:hover > .top-experiences__card-content {
    inset: 20px;
    top: auto;
    background-color: rgba(255, 255, 255, 0.756);
    margin: .5rem;
    border-radius: 10px;
  }

  .top-experiences__card-content > * {
    transition: var(--transition-timing);
  }

  .top-experiences__card-content > .top-experiences__profile-image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: .5rem 0;
    margin-left: .5rem;
  }
  .top-experiences__card:hover .top-experiences__profile-image {
    border: 2px solid rgb(0, 0, 0);
  }
  .top-experiences__profile-image > svg {
    stroke: #ffffff;
  }
  .top-experiences__card:hover .top-experiences__profile-image > svg {
    stroke: rgb(0, 0, 0);
  }

  .top-experiences__card-content > .top-experiences__title {
    white-space: pre;
    margin-left: 20px;
    translate: 0 100%;
    opacity: 0;
    font-family: var(--mochiy-title-font);
    font-weight: 700;
    font-size: clamp(.8rem, 5vw, .9rem);
    color: rgb(0, 0, 0);
  }
  .top-experiences__card:hover .top-experiences__title {
    opacity: 1;
    translate: 0 0;
  }

  .top-experiences__card > .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  }
}

/* ===================================================================================================
  Notification
=================================================================================================== */

.notification {
  position: fixed;
  width: max-content;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-image: url("../../../assets/img/navbar_png.png");
  color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(1.875rem);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3s linear;
  z-index: 10;
}

.notification__icon {
  height: 1.625rem;
  width: 1.625rem;
  margin-right: 0.25rem;
}

.notification__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
}

.notification__body p {
  padding-right: 1rem;
  padding-left: 0.5rem;
  font-weight: bold;
}

.notification__progress {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: rgba(52, 52, 52, 0.944);
  border-radius: 15px;
  animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}
