<app-header />

<div class="progress__wrapper">
    <div class="progress__bar" id="progress__bar"></div>
</div>

<main class="main">

    <section class="main-area">
        <div class="main-area__text">
            <h1 class="main-area__title">Explore new journeys,<br>make memories,<br><span
                    class="main-area__highlight">TREKANGLE!</span></h1><br class="apart__desktop">
            <p class="main-area__quote">"ad lorem impsum"</p>
            <div class="main-area__buttons">
                <button [routerLink]="'/'" class="button button--outline">Book experiences</button>
                <button [routerLink]="'/sign-up'" class="button button--primary">Join Us</button>
            </div>
        </div>
        <div class="main-area__image">
            <picture>
                <!-- Imagen para pantallas de 1024px en adelante -->
                <source
                    srcset="https://images.pexels.com/photos/1360255/pexels-photo-1360255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    media="(min-width: 1024px)">

                <!-- Imagen para pantallas de 0px a 767px -->
                <img class="main-area__image--mobile"
                    src="https://images.pexels.com/photos/1360255/pexels-photo-1360255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Road Image">
            </picture>
        </div>
    </section>

    <h2 class="main__top-products-title">Top experiences of the week!</h2>

    <section class="main__top-experiences">
        <div class="top-experiences__container">
            <div class="top-experiences__card" [routerLink]="['/experience', experiences()[0]?._id]">
                <img class="top-experiences__background"
                    [src]=" 'http://localhost:3000/uploads/' + experiences()[0]?.images[3]">
                <div class="top-experiences__card-content">
                    <div class="top-experiences__profile-image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="white"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-info">
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12" y2="8"></line>
                        </svg>
                    </div>

                    <h3 class="top-experiences__title">{{ experiences()[0]?.name }}</h3>
                </div>
                <div class="top-experiences__backdrop"></div>
            </div>
            <div class="top-experiences__card" [routerLink]="['/experience', experiences()[2]?._id]">
                <img class="top-experiences__background"
                    [src]=" 'http://localhost:3000/uploads/' + experiences()[2]?.images[1]">
                <div class="top-experiences__card-content">
                    <div class="top-experiences__profile-image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="white"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-info">
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12" y2="8"></line>
                        </svg>
                    </div>

                    <h3 class="top-experiences__title">{{ experiences()[2]?.name }}</h3>
                </div>
                <div class="top-experiences__backdrop"></div>
            </div>
            <div class="top-experiences__card" [routerLink]="['/experience', experiences()[1]?._id]">
                <img class="top-experiences__background"
                    [src]=" 'http://localhost:3000/uploads/' + experiences()[1]?.images[0]">
                <div class="top-experiences__card-content">
                    <div class="top-experiences__profile-image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="white"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-info">
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12" y2="8"></line>
                        </svg>
                    </div>

                    <h3 class="top-experiences__title">{{ experiences()[1]?.name }}</h3>
                </div>
                <div class="top-experiences__backdrop"></div>
            </div>
        </div>
    </section>

    <!-- Mobile Carousel -->

    <section class="mobile-experiences__list">

        <app-mobile-top-experience [routerLink]="['/experience', experiences()[0]?._id]" [title]="experiences()[0]?.name"
            [price]="experiences()[0]?.price" [description]="experiences()[0]?.description"
            [image]="experiences()[0]?.images[0]" [place]="experiences()[0]?.place" />
        <app-mobile-top-experience [routerLink]="['/experience', experiences()[4]?._id]" [title]="experiences()[4]?.name"
            [price]="experiences()[4]?.price" [description]="experiences()[4]?.description"
            [image]="experiences()[4]?.images[0]" [place]="experiences()[4]?.place" />


    </section>

    <!-- Experiences Section  -->

    <h2 class="main__products-title">Check out all our Experiences </h2>

    <section class="experiences__list">

        @for(experience of experiences(); track experience._id){

        <a [routerLink]="['/experience', experience._id]">
            <app-experience [title]="experience.name" [price]="experience.price" [description]="experience.description"
                [image]="experience.images[0]" [place]="experience.place">
            </app-experience>
        </a>

        }

    </section>

    <button [routerLink]="'/locations'" class="experiences__button">Check out all Experiences</button>

    <h2 class="main__top-products-title gallery-title">Check our gallery!</h2>

    <section class="main__gallery">
        <div class="main__gallery__container">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">
            <div class="main__gallery__cards">
                <label class="main__gallery__card" for="item-1" id="experience-1">
                    <img class="main__gallery__card__image"
                        [src]=" 'http://localhost:3000/uploads/' + experiences()[0]?.images[2]" alt="experience">
                    <div class="image-info">{{ experiences()[0]?.name }}</div>
                </label>
                <label class="main__gallery__card" for="item-2" id="experience-2">
                    <img class="main__gallery__card__image"
                        [src]=" 'http://localhost:3000/uploads/' + experiences()[1]?.images[3]" alt="experience">
                    <div class="image-info">{{ experiences()[1]?.name }}</div>
                </label>
                <label class="main__gallery__card" for="item-3" id="experience-3">
                    <img class="main__gallery__card__image"
                        [src]=" 'http://localhost:3000/uploads/' + experiences()[2]?.images[2]" alt="experience">
                    <div class="image-info">{{ experiences()[2]?.name }}</div>
                </label>
            </div>
        </div>
    </section>

    <div class="notification" *ngIf="activeNotification()">
        <div class="notification__body">
            <img src="assets/img/check-circle.svg" alt="Success" class="notification__icon">
            <p>Logged out. Until next time!</p>
        </div>
        <div class="notification__progress"></div>
    </div>

</main>

<app-footer />