<app-header/>

    <main>
        <section id="boxes">

            <div id="box1">
            </div>
    
            <div id="box2">
            </div>

            <div id="box3">
            </div>

            <div id="box4">
            </div>
    
        </section>

        <section>
            <div id="Container">
                <div id="InformacionGeneral">
                    <h1>Quienes somos</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Esse fugiat voluptas sed, sunt consequuntur facilis iure in 
                        labore nesciunt minus doloremque molestiae dignissimos reprehenderit,
                         accusantium deserunt minima tempora. Corrupti, eaque.
                    </p>
                </div>
            </div>
            <div class="contenedor-acordeon">
    
                <div class="acordeon">
                    <input type="radio" name="acordeon" id="btn-acordeon1" class="btn-acordeon">
                    <label for="btn-acordeon1">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                            <h3>El grupo</h3>
                    </label>
                    <div class="contenido-acordeon">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Labore temporibus fuga ad illum repudiandae placeat mollitia, 
                            optio iste! Consectetur, fugiat!</p>
                    </div>
                </div>
    
                <div class="acordeon">
                    <input type="radio" name="acordeon" id="btn-acordeon2" class="btn-acordeon">
                    <label for="btn-acordeon2">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                        <h3>Nuestros valores</h3>
                    </label>
                    <div class="contenido-acordeon">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Labore temporibus fuga ad illum repudiandae placeat mollitia, 
                            optio iste! Consectetur, fugiat!</p>
                    </div>
                </div>
    
                <div class="acordeon">
                    <input type="radio" name="acordeon" id="btn-acordeon3" class="btn-acordeon">
                    <label for="btn-acordeon3">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                        <h3>Nuestras misiones</h3>
                    </label>
                    <div class="contenido-acordeon">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Labore temporibus fuga ad illum repudiandae placeat mollitia, 
                            optio iste! Consectetur, fugiat!</p>
                    </div>
                </div>
                
                <div class="acordeon">
                    <input type="radio" name="acordeon" id="btn-acordeon4" class="btn-acordeon">
                    <label for="btn-acordeon4">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                        <h3>Nuestra vision</h3>
                    </label>
                    <div class="contenido-acordeon">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Labore temporibus fuga ad illum repudiandae placeat mollitia, 
                            optio iste! Consectetur, fugiat!</p>
                    </div>
                </div>
    
            </div>

        </section>

    </main>
    
<app-footer/>

