<app-header />

<main class="main">
    <section class="main__mobile-bg">
        <img src="https://images.unsplash.com/photo-1539635278303-d4002c07eae3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="" class="mobile-bg__image">
    </section>

    <section class="main__bg-container">

        <div class="bg-container__image">
        </div>

        <div class="bg-container__image">
        </div>

        <div class="bg-container__image">
        </div>

        <div class="bg-container__image">
        </div>

    </section>

    <section class="main__info">
        <div class="info-container">
            <h1 class="info-container__title">About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat voluptas sed, sunt consequuntur
                facilis iure in labore nesciunt minus doloremque molestiae dignissimos reprehenderit, accusantium
                deserunt minima tempora. Corrupti, eaque. </p>
        </div>
        <div class="info__acordeon-container">
            <div class="info__acordeon">
                <div class="acordeon__title">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>El grupo</h3>
                </div>
                <div class="acordeon__content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore temporibus fuga ad illum
                        repudiandae placeat mollitia, optio iste! Consectetur, fugiat! lore</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Nuestros valores</h3>
                </div>
                <div class="acordeon__content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore temporibus fuga ad illum
                        repudiandae placeat mollitia, optio iste! Consectetur, fugiat!</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Misión</h3>
                </div>
                <div class="acordeon__content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore temporibus fuga ad illum
                        repudiandae placeat mollitia, optio iste! Consectetur, fugiat!</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Visión</h3>
                </div>
                <div class="acordeon__content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore temporibus fuga ad illum
                        repudiandae placeat mollitia, optio iste! Consectetur, fugiat!</p>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer />