.main {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 6rem;
  column-gap: 1rem;
}

.mobile-bg__image {
  width: 100%;
  height: 100%;
  display: none;
}

.main__bg-container {
  width: 60%;
  min-width: 13rem;
  max-width: 750px;
  height: 33rem;
  margin: 1.2rem;
  display: flex;
  gap: 1rem;
  align-self: flex-start;
}

.bg-container__image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 2px solid black;
}

.bg-container__image:nth-child(1) {
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShaWwHk25rOFdbzWhtU8iT7A1IIBJandpDVg&s");
}

.bg-container__image:nth-child(2) {
  height: 80%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShaWwHk25rOFdbzWhtU8iT7A1IIBJandpDVg&s");
}

.bg-container__image:nth-child(3) {
  height: 60%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShaWwHk25rOFdbzWhtU8iT7A1IIBJandpDVg&s");
}

.bg-container__image:nth-child(4) {
  height: 40%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShaWwHk25rOFdbzWhtU8iT7A1IIBJandpDVg&s");
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info-container__title {
  font-family: var(--mochiy-title-font);
  font-size: clamp(1rem, 5vw, 2rem);
  margin-bottom: 1.5rem;
}

.info-container__title,
.info-container p {
  padding: 0.5em;
}

.info-container p {
  max-width: 40em;
}

.info__acordeon-container {
  background: rgb(236, 226, 226);
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  row-gap: .5rem;
  overflow: hidden;
}

.info__acordeon {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.acordeon__title {
  background-image: url("../../../assets/img/navbar_png.png");
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  font-family: var(--aclonica-title-font);
  font-weight: 700;
}

.arrow-icon {
  height: 1rem;
  width: 1rem;
  margin-bottom: .12rem;
}

.acordeon__content {
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  padding: 1rem;
  display: none;
  transition: all .3s ease;
  max-width: 762px;
}

.acordeon__content:last-child {
  border-bottom: 3px solid black;
}

.show-content {
  display: block;
}

@media screen and (max-width: 900px) {
  .info__acordeon-container {
    width: 90%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    margin-top: 5rem;
  }

  .main__bg-container {
    display: none;
  }

  .mobile-bg__image {
    display: block;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
}
