<app-header />

<main class="main">
    <section class="main__mobile-bg">
        <img src="https://images.unsplash.com/photo-1539635278303-d4002c07eae3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="" class="mobile-bg__image">
    </section>

    <section class="main__bg-container">

        <div class="main-part bg-container__image">
        </div>

        <div class="main-part bg-container__image">
        </div>

        <div class="main-part bg-container__image">
        </div>

        <div class="main-part bg-container__image">
        </div>

    </section>

    <section class="main__info">
        <div class="info-container">
            <h1 class="info-container__title">About Us</h1>
            <p>
                Immerse yourself in a world of emotions and adventures with our company,
                where each experience becomes an unforgettable memory. From romantic getaways
                in exotic locations to thrilling outdoor adventures, we're here to make your
                dreams come true and fill your life with unforgettable moments. Join us and
                experience the adventure of a lifetime!</p>
        </div>
        <div class="info__acordeon-container">
            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(0)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>The team</h3>
                </div>
                <div class="acordeon__content" [ngClass]="acordeonIndex === 0 ? ' show-content ' : ' '  ">
                    <p>Trekangle offers special activities, ranging from outdoor adventures to wine tastings.
                        They make it easy to book and gift memorable experiences through our online platform,
                        collaborating with local providers to ensure quality and authenticity.</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(1)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Our values</h3>
                </div>
                <div class="acordeon__content" [ngClass]="acordeonIndex === 1 ? ' show-content ' : ' '  ">
                    <p>At the core of our platform are values that guide every aspect of our operations. We are deeply
                        committed to sustainability, prioritizing eco-friendly practices and promoting activities that
                        protect and preserve the environment. Our focus on community means we actively support local
                        guides and businesses, fostering meaningful connections that benefit both our users and the
                        local populations. </p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(2)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Mission</h3>
                </div>
                <div class="acordeon__content" [ngClass]="acordeonIndex === 2 ? ' show-content ' : ' '  ">
                    <p>Our mission is to create an accessible and user-friendly platform that allows individuals to
                        discover and book unique and memorable outdoor adventures. We aim to promote ecotourism and
                        sustainable travel by offering experiences that highlight the beauty and diversity of the
                        world's most stunning landscapes. By connecting users with local guides and communities, we
                        support environmental conservation and economic growth in the regions we operate.</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(3)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Visión</h3>
                </div>
                <div class="acordeon__content" [ngClass]="acordeonIndex === 3 ? ' show-content ' : ' '  ">
                    <p>To become the premier platform that connects people with extraordinary travel adventures in
                        breathtaking landscapes. We aim to inspire a global community to explore, appreciate, and
                        respect the natural world through sustainable and unforgettable experiences. Lastly, our
                        customer-centric approach drives us to provide exceptional service, ensuring every user has a
                        memorable and positive experience with our platform.</p>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer />