<app-header />

<main class="main">
    <section class="main__mobile-bg">
        <img src="https://images.unsplash.com/photo-1539635278303-d4002c07eae3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="" class="mobile-bg__image">
    </section>

    <section class="main__bg-container">

        <div class="bg-container__image">
        </div>

        <div class="bg-container__image">
        </div>

        <div class="bg-container__image">
        </div>

        <div class="bg-container__image">
        </div>

    </section>

    <section class="main__info">
        <div class="info-container">
            <h1 class="info-container__title">About Us</h1>
            <p>
                Immerse yourself in a world of emotions and adventures with our company,
                 where each experience becomes an unforgettable memory. From romantic getaways 
                 in exotic locations to thrilling outdoor adventures, we're here to make your
                  dreams come true and fill your life with unforgettable moments. Join us and 
                  experience the adventure of a lifetime!</p>
        </div>
        <div class="info__acordeon-container">
            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(0)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>The team</h3>
                </div>
                <div class="acordeon__content" [ngClass]="acordeonIndex === 0 ? ' show-content ' : ' '  " >
                    <p>Trekangle offers special activities, ranging from outdoor adventures to wine tastings.
                         They make it easy to book and gift memorable experiences through their online platform, 
                         collaborating with local providers to ensure quality and authenticity.</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(1)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Our values</h3>
                </div>
                <div class="acordeon__content" [ngClass]="acordeonIndex === 1 ? ' show-content ' : ' '  ">
                    <p>Rekangle values creating memorable, high-quality, and authentic experiences. They focus on personalization 
                        and collaborate with local providers to support community and sustainability. 
                        Transparency, customer satisfaction, and innovation are central to their mission of bringing joy and connection
                        through exceptional activities.</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(2)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Misión</h3>
                </div>
                <div class="acordeon__content" [ngClass]="acordeonIndex === 2 ? ' show-content ' : ' '  ">
                    <p>At Trekangle, we create unique and meaningful experiences that enrich our customers' lives. 
                        We are committed to offering authentic, high-quality activities, collaborating with local suppliers
                         to promote sustainability and support our communities. Our goal is to inspire memorable moments and
                          deep connections, guided by transparency, customer satisfaction, and continuous innovation.</p>
                </div>
            </div>

            <div class="info__acordeon">
                <div class="acordeon__title" (click)="toggleAcordeon(3)">
                    <img src="assets/img/arrow-icon.svg" alt="arrow icon" class="arrow-icon">
                    <h3>Visión</h3>
                </div>
            <div class="acordeon__content" [ngClass]="acordeonIndex === 3 ? ' show-content ' : ' '  " >
                    <p>Our vision at Trekangle is to become a leading provider of transformative experiences globally.
                        We aspire to continuously innovate and expand our offerings, ensuring every customer encounter
                        leaves a lasting positive impact. By fostering a culture of creativity, excellence, and community
                        engagement, we aim to be recognized for our commitment to delivering unparalleled adventures that inspire
                         and connect people worldwide.</p>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer />