<app-header />

<main class="login-component">
  <div class="login-component__container">
    <div class="login-form-wrapper">
      <main class="login-form-side">
        <form class="login-form" (ngSubmit)="onSubmit($event)" [formGroup]="userForm">
          <div class="login-form-welcome-row">
            <h1 class="login-form-title">Welcome back! 👋</h1>
            <h2 class="login-form-subtitle">Login with your account!</h2>
          </div>

          <div class="text-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="you@example.com" required
              formControlName="email" />
            <div class="error-message">Email in incorrect format</div>
          </div>

          <div class="text-field password-field">
            <label for="password">Password</label>
            <input id="password" [type]="viewPassword() ? 'text' : 'password'" name="password" placeholder="Your password"
              required formControlName="password" />
            <img class="password__icons show-password" (click)="togglePassword()" *ngIf="viewPassword()" src="assets/img/show-password.svg" alt="show password icon">
            <img class="password__icons" (click)="togglePassword()" *ngIf="!viewPassword()" src="assets/img/hide-password.svg" alt="hide password icon">
          </div>

          <div *ngIf="errorMessage" class="error__message">
            {{ errorMessage }}
          </div>

          <button class="login-form__button" type="submit">Log In</button>

          <div class="login-form__actions">
            <div class="login-form__row">
              <span>Don't have an account?</span>
              <a [routerLink]="'/sign-up'" title="Reset Password">
                Sign Up Now
              </a>
            </div>
          </div>

        </form>
      </main>
      <aside class="info-side"></aside>
    </div>
  </div>
</main>

<div class="notification" *ngIf="activeNotification()">
  <div class="notification__body">
      <img src="assets/img/check-circle.svg" alt="Success" class="notification__icon">
      <p>Your account has been successfully created!</p>
  </div>
  <div class="notification__progress"></div>
</div>

<app-footer />