<article class="experience__card">
    <div class="experience__card__image">
        <img [src]="image ? 'https://fzjqlxogwhycbjgrxtlo.supabase.co/storage/v1/object/public/trekangle-files/' + image : 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg' " alt="Main Experience Image">
    </div>
    <div class="experience__card__details">
        <h2 class="experience__card__title">{{title}}</h2>
        <h3 class="experience__card__price">{{price | currency}}</h3>
    </div>
    <div class="experience__card__features">
        <div class="experience__card__feature">
            <span class="experience__card__icon">⭐</span>
            <span class="experience__card__text">5.0</span>
        </div>
        <div class="experience__card__feature">
            <span class="experience__card__icon">🚩</span>
            <span class="experience__card__text">{{place}}</span>
        </div>
    </div>
</article>
